* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #333333;
}
h1, h2, h2{
  text-align: center;
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.myapresentation {
  margin: 10px;
  padding: 10px;
}
.skills {
  background-color: #111111;
  color: rgb(255, 255, 255);
}
.containercards {
  padding: 20PX;
  display: flex;
  justify-content: space-around;
}
.hmtl5 {
  text-align: center;

}
.css3 {
  text-align: center;
}
.javascript {
  text-align: center;
}