* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}
a:hover {
  color: #FFEB3B;
}
.frontend {
  margin: 20px;
  padding: 10px;
}
.frontend h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 55px;
}
.frontend p {
  font-size: 18px;
  text-align: center;
  color: #66696d;
}
h2, h3{
  text-align: center;
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.myapresentation {
  margin: 10px;
  padding: 10px;
}
.skills {
  text-align: justify;
  background-color: #111111;
  color: rgb(255, 255, 255);
}
.p1 {
  margin: 10px;
  padding: 10px;
}
.containercards {
  padding: 20PX;
  display: flex;
  justify-content: space-around;
}
.html5 {
  color: #ff5722;
  text-align: center;

}
.css3 {
  color: #1572b6;
  text-align: center;
}
.javascript {
  color: #f7df1e;
  text-align: center;
}
.projects {
  margin: 10px;
  padding: 10px;
  text-align: justify;
}
