* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: larger; font-style: italic; font-weight: 300;
}
ul {
  display: flex;
  justify-content: end;
  gap: 2px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}
ul li {
  display: inline-block;
}
ul li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}
li a {
  font-size: smaller;
}
a:hover {
  color: #4ea2de;
}
.frontend {
  margin: 30px;
  padding: 20px;
}
.frontend h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 55px;
}
.frontend p {
  font-size: 18px;
  text-align: center;
  color: #4ea2de;
}
h2, h3{
  text-align: center;
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.myapresentation {
  margin: 10px;
  padding: 10px;
}
.contaicon {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.contaicon li {
  color: inherit;
  list-style-type: none;
}
.contaicon a {
  color: inherit;
}
.contaicon a:hover{
  color: #4ea2de;
}
.skills {
  text-align: justify;
  background-color: #111111;
  color: rgb(255, 255, 255);
}
.p1 {
  margin: 10px;
  padding: 10px;
}
.containercards {
  padding: 20PX;
  display: flex;
  justify-content: space-around;
}
.html5 {
  color: #ff5722;
  text-align: center;

}
.css3 {
  color: #1572b6;
  text-align: center;
}
.javascript {
  color: #f7df1e;
  text-align: center;
}
.projects {
  margin: 10px;
  padding: 10px;
  text-align: justify;
}