@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');


* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
li, a, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: whitesmoke;
}
header{
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}
.logo{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  cursor: pointer;
}
.nav-links{
  list-style: none;
}
.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a{
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
  color: #4ea2de;
}
button{
  padding: 9px 25px;
  background-color: #4ea2de;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover{
  background-color: rgba(0, 136, 169, 0.5);
}
.frontend {
  margin: 30px;
  padding: 20px;
}
.frontend h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 55px;
}
.frontend p {
  font-size: 18px;
  text-align: center;
  color: #4ea2de;
}
h2, h3{
  text-align: center;
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.myapresentation {
  margin: 10px;
  padding: 10px;
}
.contaicon {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.contaicon li {
  color: inherit;
  list-style-type: none;
}
.contaicon a {
  color: inherit;
}
.contaicon a:hover{
  color: #4ea2de;
}
.skills {
  text-align: justify;
  background-color: #111111;
  color: rgb(255, 255, 255);
}
.p1 {
  margin: 10px;
  padding: 10px;
}
.containercards {
  padding: 20PX;
  display: flex;
  justify-content: space-around;
}
.html5 {
  color: #ff5722;
  text-align: center;

}
.css3 {
  color: #1572b6;
  text-align: center;
}
.javascript {
  color: #f7df1e;
  text-align: center;
}
.projects {
  margin: 10px;
  padding: 10px;
  text-align: justify;
}